.header-settings {
    width: 100%;
    height: 43px;
    background-color: #4cb1ca;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1024px;
        height: 43px;
        margin: 0 auto;
    }

    &__select-menu {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: block;
        font-size: 13px;
        color: #fff;
    }

}

@import "select-menu";