.select-menu {
    
    &__form {
        display: flex;
        align-items: center;
        width: 146px;
    }

    &__label {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: #bef2ff;
        margin-right: 8px;
    }

    &__select {
        display: block;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 400;
        background-color: #4cb1ca;
        font-size: 13px;
        border: 0;
        color: #fff;

        -webkit-appearance: unset;
    
        &:focus {
           outline: none; 
        }
    
    }

}